In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Obtaining the data

This phase consists of obtaining the data, where data will be collected 
regarding the performance of the players during the last season of the 
Premier League (United Kingdom), La Liga (Spain), Ligue 1 (France), 
Bundesliga (Germany), Serie A TIM (Italy), Eredivisie (Netherlands), 
Primeira Liga (Portugal) and Campeonato Brasileiro Série A (Brazil).

Other championships with available data such as Liga MX (Mexico) and MLS 
(USA) will not be considered, as they have a different competition format 
from the others, which follow the consecutive points system.

In addition, the data that will be used refer to the last season already 
finished, 2021/2022 for European championships and 2022 for the Brazilian 
Serie A. Data referring to current seasons will not be taken into account, 
as the European season is taking place and the Brazilian is only at the 
beginning, so it may be that there are players still in their old clubs.

All data has been taken from the website [fbref](https://fbref.com/en/).

The following data regarding players in each league will be collected:

- Goalkeeping
- Shooting
- Passing
- Defensive Actions

#### Big 5 European Leagues
In this session, we will load the data of the 5 biggest leagues in Europe: 
Premier League, La Liga, Bundesliga, Ligue 1 and Serie A TIM.

In [2]:
# Reading all data
goalkeepers_bg5_df = pd.read_csv("../data/raw/goalkeepers_bg5.csv")
shoots_bg5_df = pd.read_csv('../data/raw/shoots_bg5.csv')
passes_bg5_df = pd.read_csv('../data/raw/passes_bg5.csv')
defense_bg5_df = pd.read_csv('../data/raw/defense_actions_bg5.csv')

#### Eredivisie
In this session, we will load the Eredivise league data.

In [3]:
# Reading all data
goalkeepers_Eredivisie_df = pd.read_csv('../data/raw/goalkeepers_Eredivisie.csv')
shoots_Eredivisie_df = pd.read_csv('../data/raw/shoots_Eredivisie.csv')
passes_Eredivisie_df = pd.read_csv('../data/raw/passes_Eredivisie.csv')
defense_Eredivisie_df = pd.read_csv('../data/raw/defense_actions_Eredivisie.csv')

#### Primeira Liga
Now, let's load the Portuguese league data.

In [4]:
# Reading all data
goalkeepers_PrimeiraLiga_df = pd.read_csv('../data/raw/goalkeepers_PrimeiraLiga.csv')
shoots_PrimeiraLiga_df = pd.read_csv('../data/raw/shoots_PrimeiraLiga.csv')
passes_PrimeiraLiga_df = pd.read_csv('../data/raw/passes_PrimeiraLiga.csv')
defense_PrimeiraLiga_df = pd.read_csv('../data/raw/defense_actions_PrimeiraLiga.csv')

#### Brasileiro Serie A
And finally, we want to load the data of the Brazilian league.

In [5]:
# Reading all data
goalkeepers_BrasileiroSerieA_df = pd.read_csv('../data/raw/goalkeepers_BrasileiroSerieA.csv')
shoots_BrasileiroSerieA_df = pd.read_csv('../data/raw/shoots_BrasileiroSerieA.csv')
passes_BrasileiroSerieA_df = pd.read_csv('../data/raw/passes_BrasileiroSerieA.csv')
defense_BrasileiroSerieA_df = pd.read_csv('../data/raw/defense_actions_BrasileiroSerieA.csv')

## Understanding the data
At this stage, I will try to understand the data, it will be something quick, the steps that will be followed are:

- Note the first lines

- Observe the shape of the data

- Search and observe differences between datasets

- Check column types

Missing and duplicate values ​​will be checked in the Cleaning stage.

#### Passes
In this session, we will try to understand the datasets that contain the data 
about the passes of each player.

First, let's take a look at the data.

In [6]:
# Checking the first rows
passes_bg5_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,...,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,Prog,Matches,-9999
0,1,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,1107.0,...,1.6,1.7,0.4,20.0,50.0,37.0,9.0,86.0,Matches,774cf58b
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,1284.0,...,0.9,0.6,-0.9,9.0,95.0,7.0,0.0,96.0,Matches,32c2d95f
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,1535.0,...,1.0,0.8,-1.0,17.0,87.0,13.0,1.0,80.0,Matches,82464ce3
3,4,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,1341.0,...,4.4,2.6,-2.4,35.0,147.0,23.0,9.0,126.0,Matches,31626657
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matches,469d3d84

In [7]:
# Checking the first rows
passes_Eredivisie_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,Prog,Matches,-9999
0,1,Trustin van 't Loo,nl NED,MF,Heerenveen,17,2004,0.3,2.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matches,b9887ae0
1,2,Dirk Abels,nl NED,DFMF,Sparta R'dam,24,1997,32.2,1049.0,1460.0,...,0.9,1.0,-0.9,12.0,90.0,7.0,3.0,81.0,Matches,3c3bd200
2,3,Zakaria Aboukhlal,ma MAR,FWMF,AZ Alkmaar,21,2000,9.1,170.0,249.0,...,1.0,0.8,0.0,7.0,6.0,14.0,2.0,22.0,Matches,c2a6033c
3,4,Paulos Abraham,se SWE,FWMF,Groningen,19,2002,15.0,210.0,310.0,...,1.3,1.8,0.7,13.0,25.0,12.0,4.0,29.0,Matches,fd99de9d
4,5,Shawn Adewoye,be BEL,DF,RKC Waalwijk,21,2000,19.1,579.0,748.0,...,0.3,0.4,-0.3,6.0,35.0,1.0,0.0,32.0,Matches,be98fc34

In [8]:
# Checking the first rows
passes_PrimeiraLiga_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,Prog,Matches,-9999
0,1,Rodrigo Abascal,uy URU,DF,Boavista,27,1994,26.5,1080.0,1425.0,...,0.6,0.6,1.4,9.0,80.0,5.0,2.0,57.0,Matches,088ae0d1
1,2,Giorgi Aburjania,ge GEO,MF,Gil Vicente FC,26,1995,8.6,339.0,416.0,...,1.4,1.2,-0.4,11.0,48.0,6.0,0.0,40.0,Matches,0921a46c
2,3,Antonio Adán,es ESP,GK,Sporting CP,34,1987,33.0,925.0,1099.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,1.0,Matches,65d62814
3,4,João Afonso Crispim,br BRA,MF,Gil Vicente FC,26,1995,0.2,21.0,22.0,...,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,Matches,e40bdb5d
4,5,João Afonso,pt POR,DF,Santa Clara,31,1990,12.4,387.0,483.0,...,0.6,0.3,-0.6,4.0,22.0,0.0,0.0,17.0,Matches,a8f07c8f

In [9]:
# Checking the first rows
passes_BrasileiroSerieA_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Cmp,Att,...,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,Prog,Matches,-9999
0,1,Abner,br BRA,DF,Atl Paranaense,21,2000,23.4,986.0,1283.0,...,2.2,1.7,-0.2,31.0,105.0,16.0,6.0,84.0,Matches,7f9c5d2d
1,2,Adryelson,br BRA,DF,Botafogo (RJ),23,1998,16.1,540.0,662.0,...,0.3,0.1,-0.3,3.0,15.0,0.0,0.0,12.0,Matches,e980e78d
2,3,Adson,br BRA,FWMF,Corinthians,21,2000,13.8,522.0,633.0,...,0.8,1.5,-0.8,14.0,34.0,29.0,2.0,45.0,Matches,eda38706
3,4,Airton,br BRA,FW,Atl Goianiense,22,1999,19.3,277.0,444.0,...,2.8,3.0,1.2,30.0,20.0,17.0,9.0,19.0,Matches,751ef075
4,5,Carlos Alberto,br BRA,FWMF,América (MG),19,2002,1.7,13.0,24.0,...,0.1,0.0,-0.1,1.0,0.0,0.0,0.0,0.0,Matches,08f48d96

Now, let's check the shape of datasets.

In [10]:
# Seeing the shape
print(passes_bg5_df.shape)
print(passes_Eredivisie_df.shape)
print(passes_PrimeiraLiga_df.shape)
print(passes_BrasileiroSerieA_df.shape)

(2921, 34)
(533, 33)
(581, 33)
(763, 33)

Note that the dataset with data from the top 5 leagues in Europe has one more 
column than the rest, let's check it out below:

In [11]:
# Fetching the extra column name
[col for col in passes_bg5_df.columns if col not in passes_Eredivisie_df.columns]

['Comp']

Let's check the column values

In [12]:
# Checking the column values
passes_bg5_df.Comp

0       eng Premier League
1               fr Ligue 1
2               fr Ligue 1
3               fr Ligue 1
4               fr Ligue 1
               ...
2916            es La Liga
2917            it Serie A
2918    eng Premier League
2919            it Serie A
2920            it Serie A
Name: Comp, Length: 2921, dtype: object

The extra column deals with the league that player plays in, which makes sense, since the ``passes_bg5_df`` dataset contains data from players from 5 different leagues, unlike the other datasets obtained, which represent data from players from just one league.

This behavior is also expected in the other datasets referring to the 5 big leagues in Europe.

To check the information about the columns, I will use any dataset other than the top 5 leagues, because as we have just seen, all columns are the same, with the only difference being the column referring to the competition, which is present in the dataframe of the 5 major leagues.

In [13]:
# Checking the info about the columns
passes_Eredivisie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       533 non-null    int64
 1   Player   533 non-null    object
 2   Nation   533 non-null    object
 3   Pos      533 non-null    object
 4   Squad    533 non-null    object
 5   Age      533 non-null    int64
 6   Born     533 non-null    int64
 7   90s      533 non-null    float64
 8   Cmp      532 non-null    float64
 9   Att      532 non-null    float64
 10  Cmp%     530 non-null    float64
 11  TotDist  532 non-null    float64
 12  PrgDist  532 non-null    float64
 13  Cmp.1    532 non-null    float64
 14  Att.1    532 non-null    float64
 15  Cmp%.1   519 non-null    float64
 16  Cmp.2    532 non-null    float64
 17  Att.2    532 non-null    float64
 18  Cmp%.2   521 non-null    float64
 19  Cmp.3    532 non-null    float64
 20  Att.3    532 non-null    float64
 21  Cmp%.3   494 non-null    float64
 22  Ast      533 non-null    int64
 23  xAG      532 non-null    float64
 24  xA       532 non-null    float64
 25  A-xAG    532 non-null    float64
 26  KP       532 non-null    float64
 27  1/3      532 non-null    float64
 28  PPA      532 non-null    float64
 29  CrsPA    532 non-null    float64
 30  Prog     532 non-null    float64
 31  Matches  533 non-null    object
 32  -9999    533 non-null    object
dtypes: float64(23), int64(4), object(6)
memory usage: 137.5+ KB

We have few categorical columns and many numeric columns, the use of each column will be decided later.

#### Shoots
Here, let's look at data related to shoots.

In [14]:
# Checking the first rows
shoots_bg5_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Gls,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999
0,1,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,0,...,0.0,0,0,0.9,0.9,0.07,-0.9,-0.9,Matches,774cf58b
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,2,...,0.0,0,0,1.5,1.5,0.08,0.5,0.5,Matches,32c2d95f
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,1,...,0.0,0,0,1.1,1.1,0.06,-0.1,-0.1,Matches,82464ce3
3,4,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,0,...,0.0,0,0,2.1,2.1,0.07,-2.1,-2.1,Matches,31626657
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,0,...,0.0,0,0,0.0,0.0,NaN,0.0,0.0,Matches,469d3d84

In [15]:
# Checking the first rows
shoots_Eredivisie_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999
0,1,Trustin van 't Loo,nl NED,MF,Heerenveen,17,2004,0.3,0,1,...,0.0,0,0,0.1,0.1,0.10,-0.1,-0.1,Matches,b9887ae0
1,2,Dirk Abels,nl NED,DFMF,Sparta R'dam,24,1997,32.2,0,14,...,0.0,0,0,0.8,0.8,0.06,-0.8,-0.8,Matches,3c3bd200
2,3,Zakaria Aboukhlal,ma MAR,FWMF,AZ Alkmaar,21,2000,9.1,4,38,...,0.0,0,0,4.6,4.6,0.12,-0.6,-0.6,Matches,c2a6033c
3,4,Paulos Abraham,se SWE,FWMF,Groningen,19,2002,15.0,0,24,...,0.0,0,0,2.0,2.0,0.08,-2.0,-2.0,Matches,fd99de9d
4,5,Shawn Adewoye,be BEL,DF,RKC Waalwijk,21,2000,19.1,0,4,...,0.0,0,0,0.3,0.3,0.07,-0.3,-0.3,Matches,be98fc34

In [16]:
# Checking the first rows
shoots_PrimeiraLiga_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999
0,1,Rodrigo Abascal,uy URU,DF,Boavista,27,1994,26.5,1,11,...,2.0,0,0,0.4,0.4,0.04,0.6,0.6,Matches,088ae0d1
1,2,Giorgi Aburjania,ge GEO,MF,Gil Vicente FC,26,1995,8.6,2,10,...,3.0,0,0,0.8,0.8,0.08,1.2,1.2,Matches,0921a46c
2,3,Antonio Adán,es ESP,GK,Sporting CP,34,1987,33.0,0,0,...,0.0,0,0,0.0,0.0,NaN,0.0,0.0,Matches,65d62814
3,4,João Afonso Crispim,br BRA,MF,Gil Vicente FC,26,1995,0.2,0,0,...,0.0,0,0,0.0,0.0,NaN,0.0,0.0,Matches,e40bdb5d
4,5,João Afonso,pt POR,DF,Santa Clara,31,1990,12.4,0,5,...,0.0,0,0,0.5,0.5,0.11,-0.5,-0.5,Matches,a8f07c8f

In [17]:
# Checking the first rows
shoots_BrasileiroSerieA_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches,-9999
0,1,Abner,br BRA,DF,Atl Paranaense,21,2000,23.4,1,13,...,0.0,0,0,1.2,1.2,0.09,-0.2,-0.2,Matches,7f9c5d2d
1,2,Adryelson,br BRA,DF,Botafogo (RJ),23,1998,16.1,0,15,...,0.0,0,0,1.2,1.2,0.08,-1.2,-1.2,Matches,e980e78d
2,3,Adson,br BRA,FWMF,Corinthians,21,2000,13.8,3,27,...,0.0,0,0,2.6,2.6,0.10,0.4,0.4,Matches,eda38706
3,4,Airton,br BRA,FW,Atl Goianiense,22,1999,19.3,2,36,...,0.0,0,0,3.8,3.8,0.10,-1.8,-1.8,Matches,751ef075
4,5,Carlos Alberto,br BRA,FWMF,América (MG),19,2002,1.7,0,7,...,0.0,0,0,0.7,0.7,0.10,-0.7,-0.7,Matches,08f48d96

Now, let's check the shape of datasets.

In [18]:
# Seeing the shape
print(shoots_bg5_df.shape)
print(shoots_Eredivisie_df.shape)
print(shoots_PrimeiraLiga_df.shape)
print(shoots_BrasileiroSerieA_df.shape)

(2921, 28)
(533, 27)
(581, 27)
(763, 27)

We can see that the data set about shoots also follows the same pattern as the passes data, containing an extra column, which probably refers to the athlete's competition.

In [19]:
# Fetching the extra column name
[col for col in shoots_bg5_df.columns if col not in shoots_Eredivisie_df.columns]

['Comp']

And yes, we can confirm that now. From now on, I expect the other datasets to follow the same pattern.

Since we already know what data type this column has, we'll skip the difference checking part from now on. So let's check the info.

In [20]:
# Checking the info about the dataset
shoots_Eredivisie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       533 non-null    int64
 1   Player   533 non-null    object
 2   Nation   533 non-null    object
 3   Pos      533 non-null    object
 4   Squad    533 non-null    object
 5   Age      533 non-null    int64
 6   Born     533 non-null    int64
 7   90s      533 non-null    float64
 8   Gls      533 non-null    int64
 9   Sh       533 non-null    int64
 10  SoT      533 non-null    int64
 11  SoT%     425 non-null    float64
 12  Sh/90    533 non-null    float64
 13  SoT/90   533 non-null    float64
 14  G/Sh     425 non-null    float64
 15  G/SoT    354 non-null    float64
 16  Dist     424 non-null    float64
 17  FK       532 non-null    float64
 18  PK       533 non-null    int64
 19  PKatt    533 non-null    int64
 20  xG       532 non-null    float64
 21  npxG     532 non-null    float64
 22  npxG/Sh  424 non-null    float64
 23  G-xG     532 non-null    float64
 24  np:G-xG  532 non-null    float64
 25  Matches  533 non-null    object
 26  -9999    533 non-null    object
dtypes: float64(13), int64(8), object(6)
memory usage: 112.6+ KB

The shoots dataset follows a pattern similar to that of passes, having little categorical data and several integers/floats.

#### Defense actions
Now, let's look at data related to defense actions.

In [21]:
# Checking the first rows
defense_bg5_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Tkl,...,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches,-9999
0,1,Max Aarons,eng ENG,DF,Norwich City,eng Premier League,21,2000,32.0,64.0,...,18.0,39.0,19.0,20.0,28,92.0,96.0,1.0,Matches,774cf58b
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,33,1987,33.1,48.0,...,16.0,50.0,25.0,25.0,68,116.0,104.0,0.0,Matches,32c2d95f
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,fr Ligue 1,21,2000,27.4,43.0,...,37.0,18.0,1.0,17.0,42,85.0,15.0,0.0,Matches,82464ce3
3,4,Laurent Abergel,fr FRA,MF,Lorient,fr Ligue 1,28,1993,32.8,110.0,...,95.0,58.0,1.0,57.0,55,165.0,13.0,0.0,Matches,31626657
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,fr Ligue 1,21,2000,0.5,0.0,...,1.0,2.0,0.0,2.0,0,0.0,0.0,0.0,Matches,469d3d84

In [22]:
# Checking the first rows
defense_Eredivisie_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches,-9999
0,1,Trustin van 't Loo,nl NED,MF,Heerenveen,17,2004,0.3,0.0,0,...,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,Matches,b9887ae0
1,2,Dirk Abels,nl NED,DFMF,Sparta R'dam,24,1997,32.2,65.0,39,...,35.0,32.0,10.0,22.0,49,114.0,112.0,0.0,Matches,3c3bd200
2,3,Zakaria Aboukhlal,ma MAR,FWMF,AZ Alkmaar,21,2000,9.1,13.0,10,...,8.0,15.0,0.0,15.0,6,19.0,3.0,0.0,Matches,c2a6033c
3,4,Paulos Abraham,se SWE,FWMF,Groningen,19,2002,15.0,17.0,10,...,31.0,20.0,0.0,20.0,5,22.0,4.0,0.0,Matches,fd99de9d
4,5,Shawn Adewoye,be BEL,DF,RKC Waalwijk,21,2000,19.1,32.0,13,...,8.0,28.0,15.0,13.0,49,81.0,91.0,1.0,Matches,be98fc34

In [23]:
# Checking the first rows
defense_PrimeiraLiga_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches,-9999
0,1,Rodrigo Abascal,uy URU,DF,Boavista,27,1994,26.5,74.0,45,...,29.0,36.0,14.0,22.0,43,117.0,103.0,0.0,Matches,088ae0d1
1,2,Giorgi Aburjania,ge GEO,MF,Gil Vicente FC,26,1995,8.6,22.0,13,...,19.0,9.0,3.0,6.0,8,30.0,8.0,0.0,Matches,0921a46c
2,3,Antonio Adán,es ESP,GK,Sporting CP,34,1987,33.0,1.0,0,...,0.0,0.0,0.0,0.0,2,3.0,11.0,0.0,Matches,65d62814
3,4,João Afonso Crispim,br BRA,MF,Gil Vicente FC,26,1995,0.2,1.0,1,...,3.0,0.0,0.0,0.0,0,1.0,0.0,0.0,Matches,e40bdb5d
4,5,João Afonso,pt POR,DF,Santa Clara,31,1990,12.4,14.0,8,...,8.0,13.0,11.0,2.0,17,31.0,57.0,0.0,Matches,a8f07c8f

In [24]:
# Checking the first rows
defense_BrasileiroSerieA_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Tkl,TklW,...,Past,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err,Matches,-9999
0,1,Abner,br BRA,DF,Atl Paranaense,21,2000,23.4,43.0,28,...,14.0,18.0,3.0,15.0,39,82.0,54.0,0.0,Matches,7f9c5d2d
1,2,Adryelson,br BRA,DF,Botafogo (RJ),23,1998,16.1,17.0,12,...,2.0,18.0,12.0,6.0,22,39.0,99.0,0.0,Matches,e980e78d
2,3,Adson,br BRA,FWMF,Corinthians,21,2000,13.8,34.0,22,...,10.0,18.0,0.0,18.0,13,47.0,11.0,0.0,Matches,eda38706
3,4,Airton,br BRA,FW,Atl Goianiense,22,1999,19.3,32.0,24,...,24.0,17.0,5.0,12.0,10,42.0,12.0,0.0,Matches,751ef075
4,5,Carlos Alberto,br BRA,FWMF,América (MG),19,2002,1.7,1.0,1,...,3.0,2.0,0.0,2.0,4,5.0,0.0,1.0,Matches,08f48d96

Let's check the shape

In [25]:
# Seeing the shape
print(defense_bg5_df.shape)
print(defense_Eredivisie_df.shape)
print(defense_PrimeiraLiga_df.shape)
print(defense_BrasileiroSerieA_df.shape)

(2921, 27)
(533, 26)
(581, 26)
(763, 26)

Again the pattern repeats itself here, with the dataset with data from the big 5 leagues containing an additional column.

In [26]:
# Checking the info
defense_Eredivisie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       533 non-null    int64
 1   Player   533 non-null    object
 2   Nation   533 non-null    object
 3   Pos      533 non-null    object
 4   Squad    533 non-null    object
 5   Age      533 non-null    int64
 6   Born     533 non-null    int64
 7   90s      533 non-null    float64
 8   Tkl      532 non-null    float64
 9   TklW     533 non-null    int64
 10  Def 3rd  532 non-null    float64
 11  Mid 3rd  532 non-null    float64
 12  Att 3rd  532 non-null    float64
 13  Tkl.1    532 non-null    float64
 14  Att      532 non-null    float64
 15  Tkl%     464 non-null    float64
 16  Past     532 non-null    float64
 17  Blocks   532 non-null    float64
 18  Sh       532 non-null    float64
 19  Pass     532 non-null    float64
 20  Int      533 non-null    int64
 21  Tkl+Int  532 non-null    float64
 22  Clr      532 non-null    float64
 23  Err      532 non-null    float64
 24  Matches  533 non-null    object
 25  -9999    533 non-null    object
dtypes: float64(15), int64(5), object(6)
memory usage: 108.4+ KB

This dataset follows a pattern similar to the previous ones in relation to the columns.

#### Goalkeeping
And finally, let's take a look at the data on goalkeepers.

In [27]:
# Checking the first rows
goalkeepers_bg5_df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1,Matches,-9999
0,1,Julen Agirrezabala,es ESP,GK,Athletic Club,es La Liga,20,2000,4,4,...,1,1,25.0,0,0,0,0,NaN,Matches,a2c1a8d3
1,2,Doğan Alemdar,tr TUR,GK,Rennes,fr Ligue 1,18,2002,12,12,...,5,4,33.3,2,1,1,0,50.0,Matches,9e17ccff
2,3,Alisson,br BRA,GK,Liverpool,eng Premier League,28,1992,36,36,...,2,20,55.6,0,0,0,0,NaN,Matches,7a2e46a8
3,4,Alphonse Areola,fr FRA,GK,West Ham,eng Premier League,28,1993,1,1,...,1,0,0.0,0,0,0,0,NaN,Matches,2f965a72
4,5,Kepa Arrizabalaga,es ESP,GK,Chelsea,eng Premier League,26,1994,4,4,...,1,2,50.0,0,0,0,0,NaN,Matches,28d596a0

In [28]:
# Checking the first rows
goalkeepers_Eredivisie_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1,Matches,-9999
0,1,Justin Bijlow,nl NED,GK,Feyenoord,23,1998,22,22,1980,...,5,9,40.9,4,4,0,0,0.0,Matches,53d93280
1,2,Janis Blaswich,de GER,GK,Heracles Almelo,30,1991,22,22,1980,...,11,5,22.7,5,2,2,1,50.0,Matches,663e080e
2,3,Pieter Bos,nl NED,GK,Cambuur,24,1997,6,5,459,...,5,0,0.0,0,0,0,0,NaN,Matches,6718689b
3,4,Mattijs Branderhorst,nl NED,GK,NEC Nijmegen,27,1993,34,34,3060,...,16,10,29.4,4,3,1,0,25.0,Matches,b74a2c78
4,5,Jorn Brondeel,be BEL,GK,Willem II,27,1993,2,2,104,...,0,0,0.0,0,0,0,0,NaN,Matches,f456c788

In [29]:
# Checking the first rows
goalkeepers_PrimeiraLiga_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1,Matches,-9999
0,1,Antonio Adán,es ESP,GK,Sporting CP,34,1987,33,33,2970,...,3.0,17.0,51.5,2.0,1.0,1.0,0.0,50.0,Matches,65d62814
1,2,Andrew,br BRA,GK,Gil Vicente FC,20,2001,10,10,900,...,2.0,4.0,40.0,3.0,3.0,0.0,0.0,0.0,Matches,40406a00
2,3,Brian Araújo,fr FRA,GK,Gil Vicente FC,21,2000,1,1,90,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Matches,100104d1
3,4,Fernando Augusto,br BRA,GK,Arouca,24,1997,7,6,619,...,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Matches,b8a82624
4,5,Alireza Beiranvand,ir IRN,GK,Boavista,28,1992,8,8,675,...,3.0,1.0,12.5,0.0,0.0,0.0,0.0,NaN,Matches,6ca0b04a

In [30]:
# Checking the first rows
goalkeepers_BrasileiroSerieA_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%.1,Matches,-9999
0,1,Diego Alves,br BRA,GK,Flamengo,36,1985,5,5,424,...,2,1,20.0,1,1,0,0,0.0,Matches,12421a7c
1,2,Felipe Alves Raymundo,br BRA,GK,São Paulo,33,1988,17,17,1530,...,5,5,29.4,5,4,1,0,20.0,Matches,7fbe8689
2,3,Felipe Alves Raymundo,br BRA,GK,Juventude,33,1988,1,1,90,...,0,1,100.0,0,0,0,0,NaN,Matches,7fbe8689
3,4,Anderson,br BRA,GK,Atl Paranaense,23,1998,5,5,450,...,2,2,40.0,0,0,0,0,NaN,Matches,29d862d4
4,5,Bento,br BRA,GK,Atl Paranaense,22,1999,33,33,2970,...,10,11,33.3,4,3,1,0,25.0,Matches,5d699228

Let's check the shape

In [31]:
# Seeing the shape
print(goalkeepers_bg5_df.shape)
print(goalkeepers_Eredivisie_df.shape)
print(goalkeepers_PrimeiraLiga_df.shape)
print(goalkeepers_BrasileiroSerieA_df.shape)

(218, 29)
(40, 28)
(49, 28)
(52, 28)

And finally, we can see that the pattern was repeated in all datasets.

In [32]:
goalkeepers_Eredivisie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       40 non-null     int64
 1   Player   40 non-null     object
 2   Nation   40 non-null     object
 3   Pos      40 non-null     object
 4   Squad    40 non-null     object
 5   Age      40 non-null     int64
 6   Born     40 non-null     int64
 7   MP       40 non-null     int64
 8   Starts   40 non-null     int64
 9   Min      40 non-null     int64
 10  90s      40 non-null     float64
 11  GA       40 non-null     int64
 12  GA90     40 non-null     float64
 13  SoTA     40 non-null     int64
 14  Saves    40 non-null     int64
 15  Save%    40 non-null     float64
 16  W        40 non-null     int64
 17  D        40 non-null     int64
 18  L        40 non-null     int64
 19  CS       40 non-null     int64
 20  CS%      39 non-null     float64
 21  PKatt    40 non-null     int64
 22  PKA      40 non-null     int64
 23  PKsv     40 non-null     int64
 24  PKm      40 non-null     int64
 25  Save%.1  22 non-null     float64
 26  Matches  40 non-null     object
 27  -9999    40 non-null     object
dtypes: float64(5), int64(17), object(6)
memory usage: 8.9+ KB

Pattern also that it was possible to observe in the info.

## Data Cleaning

### Part 1 - Joining the data


In this phase, we are going to join all these datasets into one, obtaining a dataset with all the players, but for that, it will be necessary to change some things:

- Create columns with the name of the competition in the Eredivisie, Primeira Liga and Brasileiro Serie A datasets so that the datasets have the same number of columns.

- Change the 'Comp' column of the Big 5 leagues dataset, keeping only the league name.

- Now that the datasets already have the same number of columns and with the correct values, I'm going to concatenate them by attribute. That should leave me with 4 datasets: one containing the data on all passing, shooting, goalkeeping and defensive actions.

- Add suffixes to identify columns of the same name in different datasets. This step is only for statistical data such as passing, shooting, defense stats and goalkeeping data. Player data that all tables have, such as Name, position, age, birth and 90s will not be considered.

Finally, after these 4 steps, we will be able to transform the 4 datasets into just 1.

#### Creating new columns

In [33]:
def makenewcol(leaguename, dataset):
    """Adds a column to the dataset containing the name of the competition.

    Args:
        leaguename (str): league name
        dataset (dataframe): dataset name to add the new column

    Returns:
        dataset: dataset containing a new column with the indicated values
    """
    dataset['Comp'] = leaguename
    return dataset

In [34]:
# Applying the function to Eredivisie data
passes_Eredivisie_df = makenewcol('Eredivisie', passes_Eredivisie_df)
shoots_Eredivisie_df = makenewcol('Eredivisie', shoots_Eredivisie_df)
defense_Eredivisie_df = makenewcol('Eredivisie', defense_Eredivisie_df)
goalkeepers_Eredivisie_df = makenewcol('Eredivisie', goalkeepers_Eredivisie_df)

In [35]:
# Applying the function to Primeira Liga data
passes_PrimeiraLiga_df = makenewcol('Primeira Liga', passes_PrimeiraLiga_df)
shoots_PrimeiraLiga_df = makenewcol('Primeira Liga', shoots_PrimeiraLiga_df)
defense_PrimeiraLiga_df = makenewcol('Primeira Liga', defense_PrimeiraLiga_df)
goalkeepers_PrimeiraLiga_df = makenewcol('Primeira Liga', goalkeepers_PrimeiraLiga_df)

In [36]:
# Applying the function to Brasileiro Serie A data
passes_BrasileiroSerieA_df = makenewcol('Brasileiro Serie A', passes_BrasileiroSerieA_df)
shoots_BrasileiroSerieA_df = makenewcol('Brasileiro Serie A', shoots_BrasileiroSerieA_df)
defense_BrasileiroSerieA_df = makenewcol('Brasileiro Serie A', defense_BrasileiroSerieA_df)
goalkeepers_BrasileiroSerieA_df = makenewcol('Brasileiro Serie A', goalkeepers_BrasileiroSerieA_df)

#### Fixing the 'Comp' column values ​​in the Big 5 leagues dataset

In [37]:
def splitColumnValue(dataset, pos = 3, col = 'Comp'):
    """Splits values ​​in a column into specific values.

    Args:
        dataset (dataset): dataset to fix the values of the column
        pos (int, optional): position of the index that will be used as a reference for the split. Defaults to 3.
        col (str, optional): column that will be applied to the division of values. Defaults to 'Comp'.

    Returns:
        dataset: dataset containing changes in the indicated column
    """
    dataset[col] = dataset[col].str.slice(start = pos)
    dataset[col] = dataset[col].str.strip()
    
    return dataset

In [38]:
# Fixing 'Comp' column values ​​in Big 5 league data
passes_bg5_df = splitColumnValue(passes_bg5_df)
shoots_bg5_df = splitColumnValue(shoots_bg5_df)
defense_bg5_df = splitColumnValue(defense_bg5_df)
goalkeepers_bg5_df = splitColumnValue(goalkeepers_bg5_df)

#### Concatenating the datasets

In [39]:
def concatDatasets(list_datasets = []):
    """Concatenate a list of datasets

    Args:
        list_datasets (list): list containing all datasets to concatenate. Defaults to [].

    Returns:
        dataset: single dataset containing all data from inserted datasets
    """
    dataset_concatenated = pd.concat(list_datasets)
    return dataset_concatenated

In [40]:
# Creating lists with datasets to concatenate
passes_df_list = [passes_bg5_df, passes_Eredivisie_df, passes_PrimeiraLiga_df, passes_BrasileiroSerieA_df]
shoots_df_list = [shoots_bg5_df, shoots_Eredivisie_df, shoots_PrimeiraLiga_df, shoots_BrasileiroSerieA_df]
defense_act_df_list = [defense_bg5_df, defense_Eredivisie_df, defense_PrimeiraLiga_df, defense_BrasileiroSerieA_df]
goalkeeping_df_list = [goalkeepers_bg5_df, goalkeepers_Eredivisie_df, goalkeepers_PrimeiraLiga_df, goalkeepers_BrasileiroSerieA_df] 

# concatenating data from each category
df_passes = concatDatasets(passes_df_list)
df_shoots = concatDatasets(shoots_df_list)
df_defense_act = concatDatasets(defense_act_df_list)
df_goalkeeping = concatDatasets(goalkeeping_df_list)

#### Adding suffixes

In [41]:
# Acquiring the columns of each dataset 
passes_columns = df_passes.iloc[:, 9:-2].columns
shoots_columns = df_shoots.iloc[:, 9:-2].columns
defense_act_columns = df_defense_act.iloc[:, 9:-2].columns
goalkeeping_columns = df_goalkeeping.iloc[:, 12:-2].columns

In [42]:
# Checking which datasets share columns
print("Passes X Shoots:", np.intersect1d(passes_columns, shoots_columns))
print("Passes X Defense acts:", np.intersect1d(passes_columns, defense_act_columns))
print("Passes X Goalkeeping:", np.intersect1d(passes_columns, goalkeeping_columns))
print("Shoots X Defense acts:", np.intersect1d(passes_columns, goalkeeping_columns))
print("Shoots X Goalkeeping:", np.intersect1d(passes_columns, shoots_columns))
print("Defense acts X Goalkeeping:", np.intersect1d(passes_columns, shoots_columns))

Passes X Shoots: []
Passes X Defense acts: ['Att']
Passes X Goalkeeping: []
Shoots X Defense acts: []
Shoots X Goalkeeping: []
Defense acts X Goalkeeping: []

In [43]:
# Renaming the columns
df_passes = df_passes.rename(columns={'Att':'Att_Passes'})
df_defense_act = df_defense_act.rename(columns={'Att':'Att_DefenseActs'})

#### Merging the datasets

In [44]:
def mergeDatasets(list_datasets, column_name, join_style):
    """Merge data from inserted datasets

    Args:
        list_datasets (list): list containing the datasets
        column_name (str): column that will be used to join the datasets
        join_style (str): specifies the type of join that will be used

    Returns:
        dataset: single dataset containing all merged data
    """
    dataset_one = list_datasets[0]
    del list_datasets[0]
    for dataset in list_datasets:
        cols_to_use = dataset.columns.difference(dataset_one.columns).to_list()
        cols_to_use.append(column_name) 
        dataset_one = dataset_one.merge(dataset[cols_to_use], how = join_style, on = column_name)
    
    return dataset_one

In [45]:
# Creating a list with the name of the datasets to join
df_lista = [df_passes, df_shoots, df_defense_act, df_goalkeeping]

# Merging the datasets and checking the results
all_players_data = mergeDatasets(df_lista, '-9999', 'outer')
all_players_data.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,...,Min,PKA,PKm,PKsv,Save%,Save%.1,Saves,SoTA,Starts,W
0,1,Max Aarons,eng ENG,DF,Norwich City,Premier League,21,2000,32.0,1107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Yunis Abdelhamid,ma MAR,DF,Reims,Ligue 1,33,1987,33.1,1284.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Salis Abdul Samed,gh GHA,MF,Clermont Foot,Ligue 1,21,2000,27.4,1535.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Laurent Abergel,fr FRA,MF,Lorient,Ligue 1,28,1993,32.8,1341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Charles Abi,fr FRA,FW,Saint-Étienne,Ligue 1,21,2000,0.5,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Removing prefixes on 'Nation' column values
all_players_data = splitColumnValue(all_players_data, col='Nation')

# Removing obvious duplicates
all_players_data = all_players_data.drop_duplicates()

In [47]:
# Saving data
all_players_data.to_csv('../data/interim/all_players_data.csv')

-----------------------
At the end of all above, a lot of values ​​are expected to be missing, because, for example, a striker is not expected to have shot blocks, which is something a goalkeeper has. To solve this missing problem, I will enter the value of 0 in the records, as they are probably statistics that that player does not have.

Additionally, players with less than 25% game attendance will be excluded as they are likely to be injured during the season.

It is also expected that there will be duplicate players, as it is normal that there are club transfers in the middle of each competition's season, to resolve this, I will keep the record where the player has the most games played.

### Part 2 - Data cleaning
And finally, let's actually clean up the data.

In this phase, I will follow a specific type of cleaning, where through the specifications of the columns, I will try to manually calculate some missing values, those that are not possible to calculate, I will keep the value, because what will be important will be the bining that will be done from it later.

From there, the steps are:

- Remove some columns that will not be used and rename if necessary. 

- Try to manually calculate missing values.

- Search for duplicate values ​​(players who changed teams during the season).

- Create categories for values.

#### Trying to calculate missing

In [48]:
# Searching for columns with a missing number greater than 0
all_players_data.columns[all_players_data.isna().sum() > 0]

Index(['Nation', 'Pos', 'Cmp', 'Att_Passes', 'Cmp%', 'TotDist', 'PrgDist',
       'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3',
       'Att.3', 'Cmp%.3', 'xAG', 'xA', 'A-xAG', 'KP', '1/3', 'PPA', 'CrsPA',
       'Prog', 'Dist', 'FK', 'G-xG', 'G/Sh', 'G/SoT', 'SoT%', 'np:G-xG',
       'npxG', 'npxG/Sh', 'xG', 'Att 3rd', 'Att_DefenseActs', 'Blocks', 'Clr',
       'Def 3rd', 'Err', 'Mid 3rd', 'Pass', 'Past', 'Tkl', 'Tkl%', 'Tkl+Int',
       'Tkl.1', 'CS', 'CS%', 'D', 'GA', 'GA90', 'L', 'MP', 'Min', 'PKA', 'PKm',
       'PKsv', 'Save%', 'Save%.1', 'Saves', 'SoTA', 'Starts', 'W'],
      dtype='object')

Now, based on the notebook column descriptions, we have the following columns that we can calculate:

- Cmp%: (Cmp / Att_Passes) * 100

- Cmp%.1: (Cmp.1 / Att.1) * 100

- Cmp%.2: (Cmp.2 / Att.2) * 100

- Cmp%.3: (Cmp.3 / Att.3) * 100

- A-xAG: Ast - xAG

- G-xG: Gls - xG

- Min: 90s * 90

- G/Sh: Gls/Sh

- G/SoT: Gls/SoT

- SoT%: SoT/Sh

- np:G-xG: (Gls - PK) - npxG

- npxG/Sh: npxG / Sh

- Lost:  Att_DefenseActs - Tkl.1

- Tkl%: Tkl.1 / Att_DefenseActs

- Tkl+Int: Tkl + Int

- CS%: GA/(Min/90)

- Save%: (SoTA - GA)/SoTA

- Save%.1: (PKsv / PKatt) * 100

In [49]:
# Calculating Cmp%
all_players_data['Cmp%'] = round((all_players_data.Cmp / all_players_data.Att_Passes) * 100, 1)

# Calculating Cmp%.1
all_players_data['Cmp%.1'] = round((all_players_data['Cmp.1'] / all_players_data['Att.1']) * 100, 1)

# Calculating Cmp%.2
all_players_data['Cmp%.2'] = round((all_players_data['Cmp.2'] / all_players_data['Att.2']) * 100, 1)

# Calculating Cmp%.3
all_players_data['Cmp%.3'] = round((all_players_data['Cmp.3'] / all_players_data['Att.3']) * 100, 1)

# Calculating A-xAG
all_players_data['A-xAG'] = round(all_players_data['Ast'] - all_players_data['xAG'], 1)

# Calculating G-xG
all_players_data['G-xG'] = round(all_players_data['Gls'] - all_players_data['xG'], 1)

# Calculating Min
all_players_data['Min'] = all_players_data['90s'] * 90

# Calculating G/Sh
all_players_data['G/Sh'] = round(all_players_data['Gls'] / all_players_data['Sh'], 2)

# Calculating G/SoT
all_players_data['G/SoT'] = round(all_players_data['Gls'] / all_players_data['SoT'], 2)

# Calculating SoT%
all_players_data['SoT%'] = round((all_players_data['SoT'] / all_players_data['Sh']) * 100, 1)

# Calculating np:G-xG
all_players_data['np:G-xG'] = round((all_players_data['Gls'] - all_players_data['PK']) - all_players_data['npxG'], 1)

# Calculating Lost
all_players_data['Past'] = round(all_players_data['Att_DefenseActs'] - all_players_data['Tkl.1'] , 1)

# Calculating Tkl%
all_players_data['Tkl%'] = round((all_players_data['Tkl.1'] / all_players_data['Att_DefenseActs'])* 100, 1)

# Calculating Tkl+Int
all_players_data['Tkl+Int'] = round((all_players_data['Tkl'] + all_players_data['Int']), 1)

# Calculating CS%
all_players_data['CS%'] = round(all_players_data['GA'] / (all_players_data['Min'] / 90), 1)

# Calculating Save%
all_players_data['Save%'] = round((all_players_data['SoTA'] - all_players_data['GA']) / all_players_data['SoTA'], 1)

# Calculating Save%.1
all_players_data['Save%.1'] = round((all_players_data['PKsv'] / all_players_data['PKatt']) * 100, 1)

#### Removing and rename columns
Here, columns that do not refer to each athlete's individual performance will be removed.

Let's see a list with the names and the justification for deletion:

- Rk: Represents only the player index.

- Nation: This column doesn't seem interesting to me, as the player's nationality does not directly affect his performance.

- Starts: Starting playing does not interfere with the player's performance.

- Squad: The player's team won't matter much here either, we look for similar players in terms of performance only.

- Comp: The competition will also not be important, as a player in a competitive league can perform worse than a player in a less competitive league, so I don't think this column will add much.

- Born: The age column already represents the data I could extract from this column, making it unnecessary.

- 90s: The data contained here is already in the Minutes column.

- W: This indicator represents the team more than an individual player.

- D: This indicator represents the team more than an individual player.

- L: This indicator represents the team more than an individual player.

- Matches: Column with no variance and no player data.

After that, I will rename the column '-9999' to 'Id'.

In [50]:
# Creating a list with column name to remove
columns_to_remove = ['Rk', 'Nation', 'Starts', 'Squad', 'Comp', 'Born', '90s', 'W', 'D', 'L', 'Matches']

In [51]:
# Dropping the columns
all_players_data = all_players_data.drop(columns=columns_to_remove)

In [52]:
# Renaming the columns
all_players_data = all_players_data.rename(columns={'-9999':'id',
                                                    'Past':'Lost'})

#### Searching duplicated 
During the season, it is normal for clubs to sell and buy players, and this ends up generating duplicates in our data. I'll deal with this by keeping only the record with the most amount of data available (the one with the least amount of missing data) and the one with the most minutes played and the least amount of zeros, thus making the data more meaningful.

In [65]:
# Creating two empty lists
rows_to_keep = []
rows_to_drop = [] 

# Counting and acquiring indexes that appear more than once
count_ids = all_players_data.id.value_counts()
greaterThanOneIndexes = count_ids[count_ids > 1].index.to_list()

# Cleaning up duplicate data
for identifier in greaterThanOneIndexes:
    
    # Fetching id records
    records = all_players_data.query(f"id == '{identifier}'").index.to_list()
    
    # Getting the amount of missing values per row
    sum_nans =  all_players_data.query(f"id == '{identifier}'").isna().sum(axis = 1)
    
    # Getting the minimum amount of missing values in records
    min_qtd_nan = all_players_data.query(f"id == '{identifier}'").isna().sum(axis = 1).min()
    
    # Searching for the record with the least amount of NaNs
    indexes_to_explore = sum_nans[sum_nans == min_qtd_nan].index.to_list()
    
    # Calculating the number of zeros per line
    sum_zeros = all_players_data.loc[indexes_to_explore].isin([0]).sum(axis = 1)
    
    # Getting the least amount of zeros
    min_qtd_zeros = all_players_data.loc[indexes_to_explore].isin([0]).sum(axis = 1).min()
    
    # Getting the index to keep and adding the result to the list
    index_to_keep = sum_zeros[sum_zeros == min_qtd_zeros].index.to_list()
    
    # Reducing ids number to 1
    if len(index_to_keep) > 1:
        
        # Adding the row values
        register_sum = all_players_data.loc[index_to_keep].sum(axis = 1).sort_values()
        
        # Getting the index of the record with the highest value and adding the result to the list
        index_to_keep = register_sum.index[-1]
    
    # Getting index to drop and adding the result to the list
    if isinstance(index_to_keep, list) is True:
        row_to_keep = index_to_keep[0]
    else:
        row_to_keep = index_to_keep

    # Saving the index to keep
    rows_to_keep.append(row_to_keep)

    # Getting indexes to drop
    records.remove(row_to_keep)
    rows_to_drop.append(records)